#step-one-holder{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: white;
}

.button-holder{
    width: 95%;
    margin: auto;
}

/* style buttons and input */
.choose-buttons{
    margin-top: 0px;
    padding: 10px;
    font-size: 0.8rem;
}

#date-button{
    width: 93%;
    margin: auto;
    padding-top: 10px;
}

#date-button button{
    justify-content: right;
}

input[type="date"]{
    padding: 7px 45px 7px 45px;
    border-radius: 3px;
    border: 0.5px solid #00A3B4;
    font-size: 1rem;
}

input[type="date"]:focus{
    background-color: #f0fcff;;
}

.datepick-holder{
    margin-top: 10px;
    display: flex;
} 

.datepick-holder p{
    color: black;
    padding: 5px;
}


/* style info */

.test-info{
    margin-top: 45px;
    margin-bottom: 45px;
}

.test-info input{
    margin-right: 5px;
}


button[type="sumbit"]{
    float: right;
    margin-right: 40px;
    padding: 15px 45px;
    font-size: 1rem;
}
