#step-one-holder{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: white;
}

.button-holder{
    width: 95%;
    margin: auto;
}

.choose-buttons{
    margin-top: 0px;
    padding: 10px;
    font-size: 0.8rem;
}

#date-button{
    width: 93%;
    margin: auto;
    padding-top: 10px;
}

#date-button button{
    justify-content: right;
}

input{
    padding: 10px 45px 10px 45px;
    border-radius: 3px;
    border: 0.5px solid #00A3B4;
    font-size: 1rem;
}

.datepick-holder{
    margin-top: 10px;
    display: flex;
} 

.datepick-holder p{
    color: black;
    padding: 5px;
}

.test-info{
    width: 90%;
    margin-top: 30px;
}

#date-button button{
    float: right;
}