html {
    background-color: #f8f8f8;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
}

main{
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}

.main-shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

/* style for top-headings */
.topheading, .heading-underline{
    width: 95%;
    margin: auto;
}

.topheading{
    font-size: 1.6rem;
    font-weight: normal;
    color: rgb(73, 73, 73);
    padding-bottom: 10px;
    padding-top: 30px; 
    text-transform: none;
}

.heading-underline{
    border: 0.5px solid #BABABA;
} 

/* style for selection buttons */

.selection{
    padding: 9px 14px;
    border: none;
    background-color: #D1EAEF;
    font-size: 1rem;  
}

/* style for choice buttons */

.choice {
    padding: 9px 14px;
    border: none;
    border-radius: 6px;
    background-color: #D1EAEF;
    font-size: 1rem;  
}

.selection:hover, .choice:hover, .buttontarget{
    background-color:#00A3B4 !important;
    color: white;
    cursor: pointer;
}

/* style for sumbit buttons */

.sumbit{
    padding: 9px 14px;
    border: none;
    border-radius: 6px;
    background-color: #00A3B4;
    font-size: 1rem;   
    color: white;
}


/* style input date */
.input-date{
    padding: 7px 40px 7px 40px;
    border-radius: 4px;
    border: 0.5px solid #00A3B4;
    font-size: 1rem;
}

.input-date:focus{
    background-color: #f0fcff;;
}

/* style searchbars */

.search{
    border-radius: 4px;
    border: 0.5px solid #00A3B4;
    width: 55%;
    padding: 7px;
    margin-top: 5px;
}

.search:focus{
    background-color: #f0fcff;
    border: 0.5px solid #00A3B4;
}


/* style a-tags */

a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}