html {
    background-color: #f8f8f8;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: rgb(24, 24, 24);
}

main{
    width: 75%;
    margin: auto;
    margin-top: 5vh;
}

/* style for top-headings */
#topheading, #heading-underline{
    width: 95%;
    margin: auto;
}

#topheading{
    font-size: 1.6rem;
    color: rgb(73, 73, 73);
    padding-bottom: 10px;
    padding-top: 30px; 
}

#heading-underline{
    border: 0.5px solid #BABABA;
} 

/* style for all buttons */
button{
    border: none;
    border-radius: 6px;
    background-color: #D1EAEF;
}

button:hover{
    color: white;
    background-color: #48A0B1;
}
