

.fas{
    color: black;
    font-size: 20px;
}

#sidenav{
    height: 100vh;
    width: 250px;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 1;
    background-color: #383E46;
    overflow-x: hidden;
    display: none;
}
  
    /* style top-info */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile{
      height: 42px;
      width: 42px;
      margin-top: 10px;
      background: #1E252B;
      border-radius: 50px;
}

hr{
    width: 30%;
    border: 0.5px solid #1E252B;
}

h1, h2, p{
    color: #C6CBCD;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

h1{
    padding-top: 10px;
    text-transform: uppercase;
}

.profile-info{
    text-transform: uppercase;
    margin: 7px;
}

p{
    line-height: 0%;
}

hr:last-of-type{
    margin-bottom: 25px;
}

/* style nav */
nav{
    padding-top: 12px;;
}

  /* Style the sidenav links*/
#sidenav a{
    padding: 14px 0px 14px 35px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #C2C7CA;
    display: block;
    border: 0.5px solid #1E252B;
    width:100%;
    text-align: left;
    cursor: pointer;
}
  
  /* On mouse-over */
#sidenav a:hover{
    color: #fff;
    background-color: #48A0B1;
}