.fas{
    color: black;
    font-size: 22px;
}

#sidenav{
    height: 100vh;
    width: 250px;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 1;
    background-color: #383E46;
    overflow-x: hidden;
    overflow-y: hidden;
    display:none;
    font-family: 'Varela Round', sans-serif;
}

#sidenav::-webkit-scrollbar {
    display: none;
  }
  
    /* style top-info */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile{
      height: 42px;
      width: 42px;
      margin-top: 10px;
      background: #1E252B;
      border-radius: 50px;
}

hr{
    width: 30%;
    border: 0.5px solid #1E252B;
}

.info > * {
    color: #C6CBCD;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

h1{
    padding-top: 10px;
    text-transform: uppercase;
}

.profile-info{
    text-transform: uppercase;
    margin: 7px;
}

p{
    line-height: 0%;
}

#sidenav > hr:last-of-type{
    margin-bottom: 25px;
}

/* style nav */
#nav-options{
    width: 99%;
    margin-top: 20px;
}

 
/* style options in nav */
#nav-options > hr{
    width: 70%;
}

.button-nav{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-nav:last-of-type{
    margin-top: 30px;
}

.dropdown-btn{
    font-size: 2rem;
    padding: 14px 0px 14px 35px;
    font-size: 16px;
    background-color: transparent;
    border: 0.7px solid #1e252b;
    color: white;
    width:100%;
    text-align: left;
    font-size: 18px;
}

.nav-arrow{
    color: white;
    float: right;
    margin-right: 25px;
}

.hide{
    display: none !important;
}

.dropdown-btn:hover, .dropdown-links > a:hover{
    background-color: #00A3B4;
}

.dropdown-links{
    flex-direction: column;
    text-indent: 20px;
    font-size: 17px;
    color: white;
    display: none;
}

.dropdown-links > a{
    padding: 14px 0px 14px 35px;
    border: 0.7px solid #1e252b;
}

/* style log out */
.log-out{
    background-color: #f8f8f8;
    border-radius: 6px;
    border: none;
    padding: 10px 40px;
    font-size: 0.9rem;
    align-self: flex-end;
    margin-top: 20px;
}

