
/* styles for all parts */

.process-info-holder, 
.process-approved-holder, 
.process-result-holder{
    width: 100%;
    margin-bottom: 12px;
    background-color: white;
    padding-bottom: 40px;
}

/* first info-box*/

.process-info-holder{
    text-indent: 30px;
}

/* styles participants-list */
                             
.process-approved-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 45vh;
    overflow-y: scroll;
}

#approved, #failed{
    width: 40%;
    margin-top:20px;
}


.result-heading{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: white;
    
}

.participant-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    padding-top: 10px
}

.participant-list > li{
    padding: 10px 80px 10px 0px;
    border: 0.5px solid #EBEBEB;
} 

 .participant-list > li:nth-of-type(odd){
    background-color: #F8F8F8;
}

/* styles preview  */

.process-result-holder{
    text-indent: 40px;
}

/* style popup 2*/

.popup-background{
    background-color: rgba(255, 255, 255, 0.556);
    display: none;
}

.popup-1-holder{
    background-color: #525252e5;
   /*  background-color: #f8f8f8; */
}

.popup-1-holder > h1{
    text-align: center;
    color: white;
   /*  font-weight: bold; */
}

#format-holder{
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.format-pic{
    color: white;
    font-size: 70px;
}

.format-button{
    margin: 10px 18px;
    background-color: #24242412;
    padding: 11px 10px;
    border-radius: 6px;
    border: none;
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
}

.format-button:hover{
    background-color: #00A3B4;
}