/* style button */

.process-info-holder > button{
    float: right;
    margin: 20px 30px;
    font-size: 1.3rem;
    padding: 10px 45px;
}

/* styles for all parts */

.process-info-holder, 
.process-approved-holder, 
.process-result-holder{
    width: 100%;
    margin-bottom: 12px;
    background-color: white;
    padding-bottom: 40px;
}

/* first info-box*/

.process-info-holder{
    text-indent: 30px;
}

/* styles participants-list */
                             
.process-approved-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 45vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#approved, #failed{
    width: 40%;
    margin-top:20px;
}


.result-heading{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: white;
    
}

.participant-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    padding-top: 10px
}

.participant-list > li{
    padding: 10px 80px 10px 0px;
    border: 0.5px solid #EBEBEB;
} 

 .participant-list > li:nth-of-type(odd){
    background-color: #F8F8F8;
}

/* styles preview  */

.process-result-holder{
    text-indent: 40px;
}


