/* Välj rapporttyp*/
#step-one-holder{
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: white;
}

#report-types{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

/* style left report div boxes  */
.report-types-left{
    width:49%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:none;
}

/* style right report div boxes  */
.report-types-right{
    width:49%;
    display: flex;
    flex-direction: column;
    background-color:none;
}

/* style buttons */
.report-types-left button:nth-child(odd){
    background-color: #f8f8f8;
}

.report-types-left button:nth-child(even){
    background-color:#EDEDED;
}

.report-types-right button:nth-child(odd){
    background-color: #EDEDED;
}

.report-types-right button:nth-child(even){
    background-color: #f8f8f8;
}

.selection{
border-radius: 6px;
width: 20rem;

}
/* Välj organisation*/
#step-two-holder{
    width: 100%;
    height: 40vh;
    margin-top: 20px;
    background-color: white;
}

#search-organisations {
    width: 100%;
    padding-top: 1vw;
    padding-left: 2vw;
}