/* style sticky buttons */
.sticky{
    margin-top: 17px;
    padding: 10px 30px 10px 30px;
    float: right;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 3vh;    
}

.sticky:first-of-type{
    margin-right: 20px;
}

.sticky:last-of-type{
    background-color: #c2c2c2;
    color: black
}

/* style selection */

#selection-container{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.selection-flex{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    
}

#selection-types{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#selected-choice{
    width: 70%;
    min-width: 70%;
}


/* style selections-nav */

.selection{
    margin:0;
    text-align: left;
    padding-left: 30px;
    border-right: 0.5px solid #BABABA;
    padding-top: 13px;
    padding-bottom: 13px;
}

#selection-types button:nth-child(odd){
    background-color: #fff;
}

#selection-types button:nth-child(even){
    background-color: #f5f5f5;
}

/* style selected headings*/

.selected-heading{
    margin-left: 30px;
    color: black;
    font-size: 1.2rem;
}

/* style för all selected choices */

.a-choice{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

label{
    margin-left: 5px;   
}

/* style age-gender (import) */ 

.choice{
    margin: 0px;
}

input[type="date"], p{
    display: inline;
}

/* style yrke (import) */

.scroll{
    width: 100%;
    max-height: 50vh;
    overflow: scroll;
}

.table-list{
    width: 80%;
    border-spacing: 0;
    margin-top: 6px;
}

tr:first-child {
    background: grey !important;
    padding: 7px;
    top: 0;
    position: sticky;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: #f8f8f8;
}

tr{
    text-align: left;
    text-indent: 8px;
    font-size: 1rem;
}

tr:hover{
    background-color: #00A3B4;
    color: white;
}

td, th{
    padding: 7px;
    border: 0.5px solid  #BABABA;;
}

th{
    border-radius: 6px 6px 0px 0px;
}

.noValue{
    display: none;
}


/* css till pop up num 1 */

.popup-background{
    position: absolute;
    top:0;
    left:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    color: black;

}

.popup-holder{
    width: 60%;
    height: 70%;
    background-color: #f8f8f8;
    margin: auto;
    margin-top: 12vh;
}

.preview-1, .preview-2{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-indent: 20px;
}

.preview-1{
    padding: 10px;
    margin-top: 4vh;
    background-color: white;
}

.preview-1 > p{
    line-height: 7px;
}

/* style info */

.h2{
    font-size: 1.2rem;
    font-weight: normal;
    margin: 5px;
}

.preview-info{
    padding: 7px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.show-preview{
    font-size: 0.8rem;
    color: rgb(119, 118, 118);
}

.show-preview:last-of-type{
    margin-right: 20px;
    margin-top: 6px;
}

/* style Show info*/

#show-info{
    padding: 7px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    text-indent: 40px;
    width: 95%;
    font-size: 1rem;
}

#spec-info{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 0.9rem;
}
