
/* style sticky buttons */
.sticky{
    margin-top: 17px;
    padding: 10px 30px 10px 30px;
    float: right;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 3vh;    
}

.sticky:first-of-type{
    margin-right: 20px;
}

.sticky:last-of-type{
    background-color: #c2c2c2;
    color: black;
    margin-right: 7px;
}

/* style selection */

#selection-container{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.selection-flex{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    
}

#selection-types{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#selected-choice{
    width: 70%;
    min-width: 70%;
}


/* style selections-nav */

.selection{
    margin:0;
    text-align: left;
    padding-left: 30px;
    border-right: 0.5px solid #BABABA;
    padding-top: 13px;
    padding-bottom: 13px;
}

#selection-types button:nth-child(odd){
    background-color: #fff;
}

#selection-types button:nth-child(even){
    background-color: #f5f5f5;
}

/* style selected headings*/

.selected-heading{
    margin-left: 30px;
    color: black;
    font-size: 1.2rem;
}

/* style för all selected choices */

.a-choice{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

label{
    margin-left: 5px;   
}

