#latest-report-date {
    width: 100%;
    padding-top: 1vw;
    padding-left: 2vw;
}

/* Language dropdown menu */
.dropdown {
    position:relative;
    float: right;
    right: 10vw;
    top: -15vh;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 20;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#startview{
    width: 85%;
    height: 55vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 250px;
    background-color: white;
}