.popup-1-holder{
    background-color: #f8f8f8;
}

.popup-background{
    background-color: rgba(0,0,0,0.5);
}

.preview-1, .preview-2{                                                                                          
    width: 80%;
    margin: auto;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    text-indent: 20px;
}

.preview-1{
    padding: 10px;
    margin-top: 4vh;
    background-color: white;
}

.preview-1 > p{
    line-height: 7px;
}

/* style info */

.h2{
    font-size: 1.2rem;
    font-weight: normal;
    margin: 5px;
}

.preview-info{
    padding: 7px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.show-preview{
    display: flex;
    font-size: 0.8rem;
    color: rgb(119, 118, 118);
}

.show-preview:last-of-type{
    margin-right: 20px;
    margin-top: 6px;
}

/* style Show info*/

#show-info{
    padding: 7px; 
    margin: auto; 
    margin-top: 7px;
    margin-bottom: 4px; 
    text-indent: 40px;
    width: 95%;
    font-size: 1rem;
    display:none;
}

#spec-info{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 0.9rem;
}

#arrow-up{
    display: none;
}

/* style button  */

.button-holder >button:first-of-type{
    background-color: #EC4444;
    margin-right: 10px;
}
